@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap");
.header {
  width: 100%;
  height: 800px;
  background-image: url(/images/header-bg.png);
  position: relative;
  z-index: 1;
  margin-bottom: 150px;
}
.header__top-menu {
  display: flex;
  align-items: center;
  background-color: rgba(0, 91, 193, 0.6);
}
.header__top-menu .logo__img-link {
  width: 140px;
  height: 58px;
  margin: 11px 40px;
}
.header__top-menu .menu {
  width: 100%;
  justify-content: center;
  gap: 26px;
  display: flex;
}
.header__top-menu .menu a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  transition: all 0.5s;
}
.header__top-menu .menu a:hover {
  color: #15e6e9;
  transition: all 0.5s;
}
.header__inner {
  position: absolute;
  background-color: rgba(0, 91, 193, 0.6);
  width: 444px;
  height: 720px;
  margin-left: 27%;
  z-index: -1;
}
.header__content {
  width: 635px;
  margin: 282px auto;
  color: white;
}
.header__content h1 {
  width: 635px;
  height: 142px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.01em;
}
.header__content p {
  width: 445px;
  height: 44px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.header__content .contact__btn {
  width: 160px;
  height: 51px;
  border: 1px solid white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
}
.header__content .contact__btn:hover {
  color: #15dedb;
  transition: all 0.5s;
  border: 1px solid #15dedb;
  cursor: pointer;
}

.main {
  width: 1110px;
  margin: 0 auto;
}
.main .our__projects {
  width: 100%;
  height: 520px;
  margin-bottom: 150px;
}
.main .our__projects-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.main .our__projects-top .title {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main .our__projects-top .title img {
  width: 100px;
  height: 13px;
}
.main .our__projects-top .title h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}
.main .our__projects ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 5px;
}
.main .our__projects ul .prev svg line,
.main .our__projects ul .prev svg rect,
.main .our__projects ul .next svg line,
.main .our__projects ul .next svg rect {
  transition: all 0.5s;
}
.main .our__projects ul .prev svg:hover line,
.main .our__projects ul .prev svg:hover rect,
.main .our__projects ul .next svg:hover line,
.main .our__projects ul .next svg:hover rect {
  stroke: #15dedb;
  transition: all 0.5s;
}
.main .our__projects .slider {
  width: 100%;
}
.main .our__projects .slider .slide {
  width: 540px;
  height: 400px;
  position: relative;
}
.main .our__projects .slider .slide .slide__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 110px;
  background-color: white;
  margin: 0 50px 35px 0;
  transition: all 0.5s;
}
.main .our__projects .slider .slide .slide__text a {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  flex-direction: column;
  width: 200px;
  height: 70px;
  text-decoration: none;
  color: #343434;
  padding: 20px 25px;
}
.main .our__projects .slider .slide .slide__text a h4 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 5%;
  text-transform: uppercase;
  margin: 0;
}
.main .our__projects .slider .slide .slide__text a p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
}
.main .our__projects .slider .slide .slide__text:hover {
  transition: all 0.5s;
  scale: 1.1;
}
.main .our__projects .slider .slide img {
  z-index: -1;
  width: 540px;
  height: 400px;
}
.main .products {
  width: 1110px;
  height: 505px;
  margin-bottom: 150px;
}
.main .products .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
  margin-bottom: 30px;
}
.main .products .title img {
  width: 100px;
  height: 13px;
}
.main .products .title h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main .products__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .products__buttons button {
  border: none;
  border: 2px solid transparent;
  background-color: transparent;
  color: #343434;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main .products__buttons button:hover {
  cursor: pointer;
}
.main .products__buttons .active {
  border-bottom: 2px solid #005bc1;
  color: #005bc1;
}
.main .products ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.main .products ul li {
  width: 350px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 3px solid #005bc1;
}
.main .products ul li a:hover p {
  background-color: rgba(21, 222, 219, 0.8);
  transition: all 0.5s;
}
.main .products ul li p {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  width: 223px;
  height: 65px;
  padding: 0 21px;
  background-color: #005bc1;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s;
}
.main .products ul .robe__img1 {
  background-image: url(/images/robe-img1.png);
}
.main .products ul .robe__img2 {
  background-image: url(/images/robe-img2.png);
}
.main .products ul .robe__img3 {
  background-image: url(/images/robe-img3.png);
}
.main .products ul .compulite__img1 {
  background-image: url("https://picsum.photos/350/300");
}
.main .products ul .compulite__img2 {
  background-image: url("https://picsum.photos/350/300");
}
.main .products ul .compulite__img3 {
  background-image: url("https://picsum.photos/350/300");
}
.main .rent {
  margin-bottom: 150px;
}
.main .rent .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
  margin-bottom: 30px;
}
.main .rent .title img {
  width: 100px;
  height: 13px;
}
.main .rent .title h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main .rent .rent__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .rent .rent__content p {
  width: 350px;
  height: 175px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
}
.main .rent .rent__content-case {
  width: 665px;
  height: 394px;
}
.main .rent .rent__content-case .slide__case-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main .rent .rent__content-case .slide__case-top h1 {
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}
.main .rent .rent__content-case .slide__case-top ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main .rent .rent__content-case .slide__case-top ul .prev1,
.main .rent .rent__content-case .slide__case-top ul .next1 {
  cursor: pointer;
}
.main .rent .rent__content-case .slide__case-top ul .prev1 svg line,
.main .rent .rent__content-case .slide__case-top ul .prev1 svg rect,
.main .rent .rent__content-case .slide__case-top ul .next1 svg line,
.main .rent .rent__content-case .slide__case-top ul .next1 svg rect {
  transition: all 0.5s;
}
.main .rent .rent__content-case .slide__case-top ul .prev1 svg:hover line,
.main .rent .rent__content-case .slide__case-top ul .prev1 svg:hover rect,
.main .rent .rent__content-case .slide__case-top ul .next1 svg:hover line,
.main .rent .rent__content-case .slide__case-top ul .next1 svg:hover rect {
  stroke: #15dedb;
  transition: all 0.5s;
}
.main .rent .rent__content-case .rent__slider {
  border: 3px solid #005bc1;
}
.main .rent .rent__content-case .rent__slider .rent__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .rent .rent__content-case .rent__slider .rent__slide img {
  width: 255px;
  height: 250px;
  margin: 30px;
}
.main .rent .rent__content-case .rent__slider .rent__slide .slide__text h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}
.main .rent .rent__content-case .rent__slider .rent__slide .slide__text ul {
  width: 100%;
  height: 152px;
  padding: 0;
}
.main .rent .rent__content-case .rent__slider .rent__slide .slide__text ul li {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  margin-left: 30px;
}
.main .news {
  margin-bottom: 150px;
}
.main .news__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.main .news__top .title {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main .news__top .title img {
  width: 100px;
  height: 13px;
}
.main .news__top .title h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}
.main .news__top-btn {
  width: 190px;
  height: 51px;
  background-color: #005bc1;
  border: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.5s;
}
.main .news__top-btn:hover {
  background-color: #15dedb;
  transition: all 0.5s;
  cursor: pointer;
}
.main .news__content-box {
  display: flex;
  gap: 60px;
}
.main .news__content-box .news__large-box {
  display: flex;
}
.main .news__content-box .news__large-box img {
  width: 255px;
  height: 242px;
}
.main .news__content-box .news__large-box .large__box-text {
  width: 255px;
  height: 242px;
  padding-left: 30px;
  position: relative;
}
.main .news__content-box .news__large-box .large__box-text .large__box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.main .news__content-box .news__large-box .large__box-text .large__box-title h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  margin: 0;
}
.main .news__content-box .news__large-box .large__box-text .large__box-title p {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #979797;
  margin: 0;
}
.main .news__content-box .news__large-box .large__box-text p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  margin: 0;
  margin-bottom: 20px;
}
.main .news__content-box .news__large-box .large__box-text a {
  position: absolute;
  bottom: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #343434;
}
.main .news__content-box .news__large-box .large__box-text a:hover {
  color: #005bc1;
}
.main .news__content-box .news__small-box {
  width: 225px;
  height: 242px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: all 0.5s;
}
.main .news__content-box .news__small-box h1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  margin: 0;
  height: 49px;
  margin-bottom: 20px;
}
.main .news__content-box .news__small-box p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  margin: 0;
  margin-bottom: 20px;
  height: 38px;
}
.main .news__content-box .news__small-box .small__img-date {
  display: flex;
  position: relative;
}
.main .news__content-box .news__small-box .small__img-date img {
  width: 128px;
  height: 115px;
}
.main .news__content-box .news__small-box .small__img-date p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 19px;
}
.main .news__content-box .news__small-box:hover {
  scale: 1.1;
  transition: all 0.5s;
  padding-right: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #005bc1;
  border-right: 2px solid #005bc1;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #005bc1;
}
.footer__container {
  width: 1110px;
  margin: 0 auto;
}
.footer hr {
  margin: 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 25px 0;
}
.footer__top a {
  text-decoration: none;
}
.footer__top a:hover h4,
.footer__top a:hover p {
  transition: all 0.5s;
  color: #15dedb;
}
.footer__top h4 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
.footer__top p {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: white;
}
.footer__middle {
  margin: 25px 0;
}
.footer__middle .middle__row {
  display: flex;
  width: 520px;
  height: 80px;
  flex-wrap: wrap;
  align-items: center;
}
.footer__middle .middle__row a {
  width: 171px;
  height: 19px;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  transition: all 0.5s;
}
.footer__middle .middle__row a:hover {
  transition: all 0.5s;
  color: #15dedb;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.footer__bottom p {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */